$bgColor: #1F1F1F;

// macbook window color
$colorGreen: #29C740;
$colorYellow: #FEBC2E;
$colorRed: #FF5F57;

// border colors
$borderColor: #444444;

$selectedTabColor: #0078D4;


$textColorPrimary: #FFFFFF;
$textColorSecondary: #A1A1AA;

$iconActive: #CCCCCC;
$iconDisabled: $borderColor;

$hoverColor: #313131;