@import 'material-icons/iconfont/material-icons.scss';
@import './app/shared/scss/colors';

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Monaco";
    font-style: normal;
    font-weight: normal;
    src:
        local("Monaco"),
        url("../public/assets/fonts/Monaco.woff") format("woff");
}

*,
body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-family: "Monaco", "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $bgColor;
    color: $textColorPrimary;
}
